.bg-dark {
    background-color: firebrick !important;
}

.list-group {
    flex-direction: row !important;
    flex-wrap: wrap;
}

.list-group-item {
    margin: 10px !important;
    height: 200px !important;
    box-shadow: 0 10px 8px 2px rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 300px !important;
}