<!DOCTYPE HTML>
<html layout:decorator="layouts/common">

<head>
  <title>Content page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div layout:fragment="content">


    <h2 class="display-2 my-3" th:text="${title}">My todos</h2>
    <form action="" novalidate method="post"
            th:action="@{/todos/filter}"
            th:object="${filterOption}">
    <select name="filterOption">
      <option  th:each="category : ${T(hue.elte.web.practice.ToDo.entity.TodoEntity.Category).values()}"
              th:value="${category}"
              th:text="${category}">
      </option>
    </select>
    <button type="submit" class="btn btn-primary">Filter</button>
    </form>
    
    <p><a class="btn btn-primary" href="#" role="button" th:href="@{/todos/new}">New todo</a></p>
    <form action="" novalidate method="post"
            th:action="@{/todos/updatecheck}"
            th:object="${status}">
    <div class="list-group">
      <div th:each="todo, stat : ${todosDTO.todos}" href="#" th:href="@{/todos/{id}(id=${todo.id})}"
        class="list-group-item list-group-item-action"
        th:classappend="${'list-group-item-' + (todo.status.name() == 'NEW' ? 'danger' : (todo.status.name() == 'DOING' ? 'warning' : 'success')) }">
        <div class="d-flex w-100 justify-content-between align-items-center">
          <a href="#" th:href="@{/todos/{id}/edit(id=${todo.id})}">
            <h5 class="mb-1" th:text="${todo.title}">Bad machine</h5>
          </a>
          <span class="badge" th:text="${todo.status}"
            th:classappend="${'badge-' + (todo.status.name() == 'NEW' ? 'danger' : (todo.status.name() == 'DOING' ? 'warning' : 'success')) }">NEW
          </span>                 

          <input type="checkbox" th:name="status" th:value="${todo.id}" th:checked="${todo.status.name() == 'DONE'}"/>

        </div>
        <p class="mb-1" th:text="${todo.description}">Donec id elit non mi porta gravida at eget metus. Maecenas sed
          diam eget risus varius blandit.</p>
          <b><p class="mb-1" th:text="'Category: ' + ${todo.category.name()}">Donec id elit non mi porta gravida at eget metus. Maecenas sed
            diam eget risus varius blandit.</p></b>
        <small>
          <i class="fas fa-calendar-alt"></i><span th:text="${#temporals.format(todo.created_at, 'dd-MM-yyyy')}">2019.01.01.</span> 
          </small>
        </div>
      </div>      
      <button type="submit" class="btn btn-primary">Update Check/Uncheck</button>

      </form>      

    </div>
  </body>
</html>